body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 100%; /* Make sure the container takes full width */
    max-width: 600px; /* Limit the maximum width to a desirable size */
    padding: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.success-container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: green;
}

p {
    font-size: 1.2rem;
    color: #333;
}

.failure-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.failure-container h1 {
    color: #721c24;
    font-size: 24px;
}

.failure-container p {
    color: #721c24;
}